.ourdogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 175px));
  grid-auto-rows: 370px;
  grid-auto-flow: dense;
  justify-content: center;
  padding: 10px 10px 10px;
  background-color: #c7c7c7;
}

.dog {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid grey;
  text-align: center;
  border-radius: 4px;
  box-shadow: 3px 3px 3px grey;
}

.dogname {
  color: #1f7765;
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px 0px 0px;
}
